form
	//- .search
				
	//- .row.span1
	//- 	.cell.span1
	//- 		.facet.pad4
	//- 			h3 Search in
	//- 			.align.middle
	//- 				input#transcriptions(type="checkbox", name="transcriptions")
	//- 				label(for="transcriptions") Transcriptions
	//- 				input#annotations(type="checkbox", name="annotations")
	//- 				label(for="annotations") Annotations
	
	//- .facets