header
	h3 Text search

.body
	.row.span4.align.middle
		.cell.span3
			.padr4
				input#search(type="text", name="search")
		.cell.span1
			button.search Search
	br
	.align.middle
		input#matchcase(type="checkbox", name="matchcase")
		label(for="matchcase") Match case
