header
	.editselection-placeholder
	h3.numfound
	nav
		ul
			//- li.sort-levels are rendered here
			li.display-keywords
				input#a9f7fg6(type="checkbox")
				label(for="a9f7fg6") Display keywords
			li.select-all
				input#i9d8sdf(type="checkbox")
				label(for="i9d8sdf") Select all
			li.show-metadata
				input#o45hes3(type="checkbox", checked=true)
				label(for="o45hes3") Show metadata
	.pagination

div.entries
	ul.page(data-page-number="1")