.facet.list
	header
		input[name="dummy"]
			width 24px
			margin-left 10px
			height 11px
			padding 0 0 0 4px

		.options
			*
				vertical-align middle

			input, small
				display inline-block

			input[name="all"]
				visibility hidden

			input[name="filter"]
				width 120px
				margin-left 2px
				padding-left 2px

				&.nonefound
					color #D10000

			small.optioncount
				margin-left 8px

		div.menu
			display inline-block
			float right
			cursor pointer

			i.fa
				font-size 1em
				margin 2px 0 0 4px

	.body
		.container
			max-height inherit
			overflow-y auto
			overflow-x hidden

			li
				i.hidden
					display none



	// nav
	// 	ul
	// 		padding 0
	// 		margin 0
	// 		list-style none

	// 		li
	// 			font-size 0.8em
	// 			cursor pointer
	// 			display inline-block
	// 			margin-left 2px