.facet.list

	.listsearch.nonefound
		color #D10000 // dark red

	nav
		ul
			padding 0
			margin 0
			list-style none

			li
				font-size 0.8em
				cursor pointer
				display inline-block
				margin-left 2px