.faceted-search
	// hr
	// 	border none
	// 	height 1px
	// 	background-color #EEE
	// 	margin 10px 8px

	// 	&:last-child
	// 		display none

	.facet
		position relative

		header
			white-space nowrap
			position relative

			h3
				padding 0
				margin 0
				cursor pointer
				width calc(100% - 60px)
				overflow: hidden;
				text-overflow: ellipsis;


			div.menu
				position absolute
				cursor pointer
				top 0
				right 0

				i.fa
					font-size 1.2em
					margin 2px 0 0 4px

			.options
				display none
				background-color #EEE
				margin 10px -4%
				padding 2% 4%
				border-radius 4px
				margin-top 10px


		&.list, &.boolean				
			ul
				list-style none

				li
					white-space nowrap
					position relative
					min-height 15px

					*
						vertical-align top

					&[data-count="0"]
						label
							color lighten(#555, 50%)
						.count
							color lighten(#555, 80%)

					label, .count
						color #555

					label
						margin-left 4px
						margin-right 48px
					
					.count
						background-color white
						width 50px
						// margin-right 2px
						text-align right
						position absolute
						right 2px
						top 0

					i
						font-size 1.2em
						cursor pointer

						&.fa-square-o
							color #AAA

							&:hover
								color #555
						
						&.fa-check-square-o
							color #555

					input[type="checkbox"], label
						white-space normal
						// margin 0
						display inline-block

					input[type="checkbox"]
						margin-top 2px

					:checked + label
						color #000
		
		.body
			max-height 200px
			margin-top 10px

@media (max-width: 640px)
	.faceted-search
		.facet
			header
				h3
					width calc(100% - 50px)

				div.menu
					i.fa
						font-size 0.8em


@media (max-width: 460px)
	.faceted-search
		.facet
			header
				h3
					width calc(100% - 40px)

				div.menu
					i.fa
						font-size 0.6em