// @import '../import/*'

// .faceted-search
// 	form
// 		.search-placeholder
// 			.facet.search
// 				// border-bottom-left-radius 0
// 				// border-bottom-right-radius 0

// 				header
// 					.options
// 						h4
// 							margin-top 4px

// 						ul								
// 							li
// 								ul
// 									margin 2px 0 8px 14px

// 									li
// 										margin-bottom 0

// 				h3
// 					cursor default

// 				// button
// 				// 	background-color #EEE
// 				// 	color #BBB
// 				// 	border 0
// 				// 	box-shadow 1px 1px 1px #DDD
// 				// 	border-radius 6px
// 				// 	margin-top -1px
					
// 				// 	height 28px
// 				// 	width 100%
// 				// 	min-width 50px


// 				// 	&.active
// 				// 		vertical_gradient(#DDD, #F1F1F1)
// 				// 		color #666
// 				// 		cursor pointer
// 				// 		box-shadow 1px 1px 1px #BDBDBD
					
// 				// 		&:active
// 				// 			vertical_gradient(#F1F1F1, #DDD)
// 				// 			box-shadow -1px -1px 1px #BDBDBD

// 				ul
// 					list-style none