header
	h3 <%= title %>

.body
	.row.span2.align.middle
		.cell.span1.center
			input.listsearch(type="text", name="listsearch")
		.cell.span1.right
			nav
				ul
					li.all All 
					li.none None 
	ul.items