.faceted-search
	
	.facet
		header
			margin-bottom 10px

			svg
				float right
				cursor pointer

				&.active
					rect.vertical
						display none

			h3
				padding 0
				margin 0
				display inline
				cursor pointer

			.options
				display none
				background-color darken(backgroundcolor, 5%)
				padding 2%
				box-shadow 1px 1px 4px #BDBDBD
				border-radius 4px
				margin-top 10px

		.body
			max-height 200px
						
			ul
				list-style none

				li
					white-space nowrap
					position relative
					min-height 15px

					*
						vertical-align top

					&[data-count="0"]
						label
							color lighten(#555, 50%)
						.count
							color lighten(#555, 80%)

					label, .count
						color #555

					label
						margin-left 4px
						margin-right 48px
					
					.count
						width 30px
						// margin-right 2px
						text-align right
						position absolute
						right 2px
						top 0

					i
						font-size 1.2em

						&.fa-square-o
							color #AAA
						
						&.fa-check-square-o
							color #555

					input[type="checkbox"], label
						white-space normal
						// margin 0
						display inline-block

					input[type="checkbox"]
						margin-top 2px

					:checked + label
						color #000