@import './import/*'

.faceted-search
	hr
		border none
		height 1px
		background-color #EEE
		margin 10px 8px

		&:last-child
			display none

	// i
	// 	cursor pointer
	// 	font-size 1.2em
	// 	color #AAA

	// 	&:hover, &.active
	// 		color #555

	.facet
		position relative
		// border-bottom 1px solid #EEE
		// margin-bottom 10px
		// padding-bottom 10px

		// &:last-child
		// 	border none


		
		header
			// i.openclose
			// 	position absolute
			// 	left -8px
			// 	top 9px
			// 	color #DDD

			// 	&:hover, &.active
			// 		color #AAA

			h3
				padding 0
				margin 0
				display inline
				cursor pointer

			.options
				display none
				background-color #EEE
				margin 10px -4%
				padding 2% 4%
				border-radius 4px
				margin-top 10px


		&.list, &.boolean				
			ul
				list-style none

				li
					white-space nowrap
					position relative
					min-height 15px

					*
						vertical-align top

					&[data-count="0"]
						label
							color lighten(#555, 50%)
						.count
							color lighten(#555, 80%)

					label, .count
						color #555

					label
						margin-left 4px
						margin-right 48px
					
					.count
						width 30px
						// margin-right 2px
						text-align right
						position absolute
						right 2px
						top 0

					i
						font-size 1.2em
						cursor pointer

						&.fa-square-o
							color #AAA

							&:hover
								color #555
						
						&.fa-check-square-o
							color #555

					input[type="checkbox"], label
						white-space normal
						// margin 0
						display inline-block

					input[type="checkbox"]
						margin-top 2px

					:checked + label
						color #000
		
		.body
			max-height 200px
			margin-top 10px