.facet
	

.faceted-search
	
	.facet
		header
			margin-bottom 10px

			h3
				padding 0
				margin 0
				display inline
				cursor pointer

			small
				cursor pointer
				float right
				color #888
				margin-left 4%
				-webkit-transform rotate(90deg)
				-moz-transform rotate(90deg)
				transform rotate(90deg)
				-webkit-transition -webkit-transform 500ms
				-moz-transition -moz-transform 500ms
				transition transform 500ms

				&.active
					-webkit-transform rotate(0deg)
					-moz-transform rotate(0deg)
					transform rotate(0deg)			

			.options
				display none
				background-color darken(backgroundcolor, 5%)
				padding 2%
				margin-top 10px
				box-shadow 1px 1px 4px #BDBDBD
				border-radius 4px

				h4
					margin-top 12px

				small.optioncount
					margin-left 8px
			

		.options
			max-height 200px
			overflow auto
			
			ul
				list-style none

				li.option
					white-space nowrap

					[data-count="0"]
						label
							color lighten(#555, 50%)
						.count
							color lighten(#555, 80%)

					label, .count
						color #555

					input[type="checkbox"], label
						white-space normal
						margin 0
						display inline-block

					input[type="checkbox"]
						margin-top 2px

					label
						padding 0 4px

					:checked + label
						color #000