.faceted-search

	max-width 300px

	input[type="checkbox"]
		margin 0
		padding 0
	
	form
		border-radius 8px // Put a border radius for the box-shadow
		box-shadow 0 0 6px #AAA
	
		.facet
			border-bottom 1px solid white
			background #F1F1F1

		// & .facet:first-child
		// 	border-top-left-radius 8px
		// 	border-top-right-radius 8px

		.facets
			& .facet:last-child 
				border-bottom-left-radius 8px
				border-bottom-right-radius 8px

		h3, h4
			margin 0
			color black

		input[type=text]
			border 1px solid #DDD
			border-radius 4px
			padding-left 4%
			margin 0
			width 96%

			&#search
				height 24px
				
				&.loading
					background white url('../images/loader.gif') no-repeat
					background-position right 2% center

		.facets
			.loader
				display none
				text-align center
				padding 30px 0

		.align.middle
			line-height 24px

			& *
				vertical-align middle