@import 'nib'
@import './import/functions.styl'
@import './import/keyframes.styl'
@import './import/variables.styl'

@import './facets/main.styl'
@import './facets/list.styl'
@import '../coffee/views/facets/range/body.styl'

@import './search-type.styl'
@import './text-search.styl'

@import './with-results.styl'
@import './sort-levels.styl'

.faceted-search-placeholder
	button, select
		background none
		box-shadow none
		border 1px solid #DDD
		border-radius 3px
		cursor pointer
		width 100%
		outline none
		height 20px
			
	.overlay
		background rgba(0, 0, 0, 0.2)
		position absolute
		z-index 1
		border-radius 8px
		display none

		div
			position fixed
			padding 20px
			background #FFF
			border-radius 30px
			box-shadow 1px 1px 10px #000
			margin-left -20px
			margin-top -20px

	.faceted-search
		ul
			margin 0
			padding 0

		input[type="checkbox"]
			margin 0
			padding 0

		h3, h4
			margin 0
			color black

		ul
			li
				margin 0

		.facets-placeholder
			.loader
				display none
				text-align center
				padding 30px 0

		.align.middle
			line-height 24px

			& *
				vertical-align middle

		ul.facets-menu
			list-style none
			margin 0

			li
				&.switch
					margin-bottom 16px

				&:hover
					i.fa
						&.fa-compress
							animation shrink 1s 0 1

						&.fa-expand
							animation grow 1s 0 1

						&.fa-refresh
							transform rotate(180deg)

				button
					line-height 16px
					width 160px
					border 1px solid #EEE
					text-align left

					i.fa
						cursor pointer
						transition transform 300ms
						font-size 1em
						display inline-block
						width 12px
						text-align center

					span
						padding-left 6px
						cursor pointer