.faceted-search.search-type-simple, .faceted-search.search-type-advanced
	border none
	background none

	form
		box-shadow none

		.text-search
			position relative
			box-shadow none
			background none

			.pad3
				padding-top 0

			header
				i.openclose
					position absolute
					left -8px
					top 9px
					color #DDD

					&:hover, &.active
						color #AAA

			.body
				
				.options
					margin-bottom 18px

				.row-1, .row-2
					margin 10px 0 0 2px

					.cell-1, .cell-2
						display inline-block
						vertical-align top

					.cell-1
						width 120px

				label
					font-size 0.9em

				input[type="checkbox"]
					margin-right 4px

				ul.textlayers, ul.searchins
					margin-top 6px
					list-style none
			
				input[name="search"]
					height 24px

			ul
				list-style none

				li

					i.fa
						cursor pointer
						transition transform 300ms
						font-size 1em
						display inline-block
						width 12px 
						text-align center

					&:hover
						i.fa

							&.fa-compress
								animation shrink 1s 0 1

							&.fa-expand
								animation grow 1s 0 1

							&.fa-refresh
								transform rotate(180deg)

					span
						padding-left 2px
						color #B325A0
						cursor pointer

						&.advanced:after
							content ' simple search'

.faceted-search.search-type-advanced
	.text-search
		.body .options
			display none

.faceted-search.search-type-simple
	form 
		.text-search ul li
			span.advanced:after
				content ' advanced search'

		.facets
			display none
			