.faceted-search.search-type-simple, .faceted-search.search-type-advanced
	border none
	background none

	.text-search
		position relative
		box-shadow none
		background none

		.pad3
			padding 0 3%

		.body

			.menu
				margin-bottom 18px
				display none

				&:hover
					i.fa-times
						opacity 1

				i.fa-times
					opacity 0
					float right
					margin-right 2px
					font-size 1.4em
					transition opacity 500ms
					cursor pointer

				ul
					margin 0
					padding 0
					list-style none
					
					&.options > li
						margin-top 10px
						
						// &:first-child
						// 	margin-top 0
					
					&.fields
						li
							input[type="checkbox"], label
								inline-block()
								vertical-align middle
								margin-left 6px
								
							label
								font-size 0.85em
						
						

			// .row-1, .row-2
			// 	margin 10px 0 0 2px

			// 	.cell-1, .cell-2
			// 		display inline-block
			// 		vertical-align top

			// 	.cell-1
			// 		width 120px

			// label
			// 	font-size 0.9em

			// input[type="checkbox"]
			// 	margin-right 4px

			// ul.textlayers, ul.searchins
			// 	margin-top 6px
			// 	list-style none

.faceted-search.search-type-advanced
	ul.facets-menu
		li
			&.collapse-expand
				display block

			span.advanced, i.fa.fa-angle-double-down
				display none

.faceted-search.search-type-simple
	ul.facets-menu
		li
			&.collapse-expand
				display none
				
			span.simple, i.fa.fa-angle-double-up
				display none

	.facets
		display none

.faceted-search.search-type-none
	ul.facets-menu
		li.switch
			display none