.faceted-search
	.text-search
		.search-input
			input
				box-sizing border-box
				border-right 0
				border-bottom-left-radius 3px
				border-top-left-radius 3px
				width 85%
				height 30px
				border 1px solid #EEE
				margin 0
				padding-left 8px
				font-size 1.2em

			i.fa-search
				background #CCC
				color white
				border-bottom-right-radius 3px
				border-top-right-radius 3px
				line-height 30px
				text-align center
				vertical-align top
				width 15%