input(type="checkbox", name="all", style=selectAll?'visibility:visible':'visibility:hidden')
input(type="text", name="filter")
small.optioncount
div.orderby
	i.alpha.fa.fa-sort-alpha-asc(title="Sort alphabetically")
	i.amount.active.fa.fa-sort-amount-desc(title="Sort numerically")