.placeholder
	header
		h3= title
		.menu
			i.filter.fa.fa-filter(title="Filter options")
			i.alpha.fa.fa-sort-alpha-asc(title="Sort alphabetically")
			i.amount.active.fa.fa-sort-amount-desc(title="Sort numerically")
		.options

	.body