
<div class="options">
  <ul><% _.each(options, function(option) { %>
    <li class="option">
      <div class="row span6">
        <div class="cell span5"><input id="<%= name %>_<%= option.name %>" name="<%= name %>_<%= option.name %>" type="checkbox" data-value="<%= option.name %>">
          <label for="<%= name %>_<%= option.name %>"><%= ucfirst(option.name) %></label>
        </div>
        <div class="cell span1 alignright">
          <div class="count"><%= option.count %></div>
        </div>
      </div>
    </li><% }); %>
  </ul>
</div>