header
	h3.numfound
	nav
		ul
			//- li.sort-levels are rendered here
			li.results-per-page
				select
					option(value="10") 10 results
					option(value="25") 25 results
					option(value="50") 50 results
					option(value="100") 100 results
					option(value="250") 250 results
					option(value="500") 500 results
					option(value="1000") 1000 results
			li.select-all
				input#i9d8sdf(type="checkbox")
				label(for="i9d8sdf") Select all
			li.show-metadata
				input#o45hes3(type="checkbox", checked=true)
				label(for="o45hes3") Show metadata
	.pagination

div.pages