header
	h3.numfound
	nav
		ul
			//- li.sort-levels are rendered here
			li.results-per-page
				select(name="results-per-page")
					each count in [10, 25, 50, 100, 250, 500, 1000]
						option(value=count, selected=count===resultsPerPage)= count + " " + config.get('termPlural')
			//- li.select-all
			//- 	input#i9d8sdf(type="checkbox")
			//- 	label(for="i9d8sdf") Select all
			if showMetadata
				li.show-metadata
					input#o45hes3(type="checkbox", checked=true)
					label(for="o45hes3") Show metadata
	.pagination

div.pages