.faceted-search
	form
		.search-placeholder
		//- .search
					
		//- .row.span1
		//- 	.cell.span1
		//- 		.facet.pad4
		//- 			h3 Search in
		//- 			.align.middle
		//- 				input#transcriptions(type="checkbox", name="transcriptions")
		//- 				label(for="transcriptions") Transcriptions
		//- 				input#annotations(type="checkbox", name="annotations")
		//- 				label(for="annotations") Annotations
		
		//- .facets
		.facets
			div.loader(style="display: none; text-align: center; margin-top: 20px")
				h4 Loading facets...
				br
				img(src="../images/faceted-search/loader.gif")