.overlay
	div
		i.fa.fa-spinner.fa-spin.fa-2x
.faceted-search
	.text-search-placeholder
	ul.facets-menu
		li.reset
			button
				i.fa.fa-refresh
				span New search
		li.switch
			button
				i.fa.fa-angle-double-up
				i.fa.fa-angle-double-down
				//- The rest of the sentence is finished by CSS, depending on
				//- config.textSearch as className.
				//- ie: "advanced search" or "simple search"
				span.simple Simple search
				span.advanced Advanced search
		li.collapse-expand
			button
				i.fa.fa-compress
				span Collapse filters
	.facets-placeholder
.results