.overlay
	div
		i.fa.fa-spinner.fa-spin.fa-2x
.faceted-search
	i.fa.fa-compress(title="Expand/collapse facets")
	i.fa.fa-refresh(title="Reset search")
	form
		.search-placeholder
		.facets
			div.loader
				h4 Loading facets...
				br
				i.fa.fa-spinner.fa-spin.fa-2x