.overlay
	img(src="../images/faceted-search/loader.gif")
.faceted-search
	i.fa.fa-backward.fa-compress
	form
		.search-placeholder
		.facets
			div.loader
				h4 Loading facets...
				br
				img(src="../images/faceted-search/loader.gif")