header
	h3 Text search
	small more

	.options
		.row.span1.align.middle
			.cell.span1
				input#matchcase(type="checkbox", name="matchcase")
				label(for="matchcase") Match case
		//- .row.span1
		//- 	.cell.span1
		//- 		h4 Text layers
		//- .row.span3.align.middle
		//- 	.cell.span1
		//- 		input#textlayer_diplomatic(type="checkbox", name="textlayer_diplomatic")
		//- 		label(for="textlayer_diplomatic") Diplomatic
		//- 	.cell.span1
		//- 		input#textlayer_critical(type="checkbox", name="textlayer_critical")
		//- 		label(for="textlayer_critical") Critical
		//- 	.cell.span1
		//- 		input#textlayer_comments(type="checkbox", name="textlayer_comments")
		//- 		label(for="textlayer_comments") Comments

.body
	.row.span4.align.middle
		.cell.span3
			.padr4
				input#search(type="text", name="search")
		.cell.span1
			button.search Search
