header
	h3 Text search
	small &#8711;

	.options
		.row.span1.align.middle
			.cell.span1.casesensitive
				input#cb_casesensitive(type="checkbox", name="cb_casesensitive", data-prop="caseSensitive")
				label(for="cb_casesensitive") Match case
		<% console.log('searchInAnnotations' in searchOptions); %>
		<% if ('searchInAnnotations' in searchOptions || 'searchInTranscriptions' in searchOptions) { %>
		<% cb_searchin_annotations_checked = ('searchInAnnotations' in searchOptions && searchOptions.searchInAnnotations) ? ' checked ' : '' %>
		<% cb_searchin_transcriptions_checked = ('searchInTranscriptions' in searchOptions && searchOptions.searchInTranscriptions) ? ' checked ' : '' %>
		.row.span1
			.cell.span1
				h4 Search in
				ul.searchins
					<% if ('searchInAnnotations' in searchOptions) { %>
					li.searchin
						| <input id="cb_searchin_annotations" type="checkbox" data-prop="searchInAnnotations"<%= cb_searchin_annotations_checked %>>
						label(for!="cb_searchin_annotations") Annotations
					<% } %>
					<% if ('searchInTranscriptions' in searchOptions) { %>
					li.searchin
						| <input id="cb_searchin_transcriptions" type="checkbox" data-prop="searchInTranscriptions"<%= cb_searchin_transcriptions_checked %>>
						label(for!="cb_searchin_transcriptions") Transcriptions
					<% } %>
		<% } %>
		<% if ('textLayers' in searchOptions) { %>
		.row.span1
			.cell.span1
				h4 Text layers
				ul.textlayers
					| <% _.each(textLayers, function(tl) { %>
					li.textlayer
						input(id!="cb_textlayer_<%= tl %>", type="checkbox", data-proparr="textLayers")
						label(for!="cb_textlayer_<%= tl %>")<%= tl %>
					| <% }); %>
		<% } %>
		//- .row.span3.align.middle
		//- 	.cell.span1
		//- 		input#textlayer_diplomatic(type="checkbox", name="textlayer_diplomatic")
		//- 		label(for="textlayer_diplomatic") Diplomatic
		//- 	.cell.span1
		//- 		input#textlayer_critical(type="checkbox", name="textlayer_critical")
		//- 		label(for="textlayer_critical") Critical
		//- 	.cell.span1
		//- 		input#textlayer_comments(type="checkbox", name="textlayer_comments")
		//- 		label(for="textlayer_comments") Comments

.body
	.row.span4.align.middle
		.cell.span3
			.padr4
				input#search(type="text", name="search")
		.cell.span1
			button.search Search