.placeholder
  header
    h3 Text search
    button.search: i.fa.fa-search
  each field in fields
    .search-input(data-name=field)
      h4= textSearchTitles[field]
      input(type="text", name="search", data-field=field)
