//- header
//- 	h3(data-name!="<%= name %>") <%= title %>

//- .body
//- 	.options
//- 		ul
//- 			| <% _.each(options, function(option) { %>
//- 			li.option
//- 				.row.span6
//- 					.cell.span5
//- 						| <input id="<%= name %>_<%= option.name %>" name="<%= name %>_<%= option.name %>" type="checkbox" data-value="<%= option.name %>">
//- 						label(for!="<%= name %>_<%= option.name %>") <%= ucfirst(option.name) %>
//- 					.cell.span1.right
//- 						.count <%= option.count %>
//- 			| <% }); %>

			//- li.item
			//- 	.row.span6
			//- 		.cell.span5
			//- 			| <input id="<%= name %>_true" name="<%= name %>_true" type="checkbox">
			//- 			label(for!="<%= name %>_true") True
			//- 		.cell.span1.right
			//- 			.count 12
			//- li.item
			//- 	.row.span6
			//- 		.cell.span5
			//- 			| <input id="<%= name %>_false" name="<%= name %>_false" type="checkbox">
			//- 			label(for!="<%= name %>_false") False
			//- 		.cell.span1.right
			//- 			.count 13