ul
	| <% _.each(options, function(option) { %>
	| <% var randomId = generateID(); %>
	| <% var checked = (option.get('checked')) ? 'checked' : ''; %>
	| <% var count = (option.get('count') === 0) ? option.get('total') : option.get('count'); %>
	| <% var labelText = (option.id === ':empty') ? '<i>(empty)</i>' : option.id %>

	li.option
		.row.span6(data-count!="<%= option.get('count') %>")
			.cell.span5
				| <input id="<%= randomId %>" name="<%= randomId %>" type="checkbox" data-value="<%= option.id %>" <%= checked %>>
				label(for!="<%= randomId %>") <%= labelText %>
			.cell.span1.right
				.count <%= count %>
	| <% }); %>